<div class="container">
  <div class="text-center mx-auto mb-5" style="max-width: 500px;">
    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="font-size:  1.5rem;line-height: 1;font-weight: 700;">Our Doctors</h5>
    <h1 class="display-4"style="font-size:  2.5rem;line-height: 1;font-weight: 700;">Qualified Healthcare Professionals</h1>
  </div>
  <div class="uk-slider-container-offset container" uk-slider>

  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

    <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
      <li>
        <div class="uk-card uk-card-default">
          <div class="row">
            <div class="col-6">
              <div class="uk-card-media-top">
                <img src="../../../assets/img/team-1.jpg" class=" p-2" alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="uk-card-body p-3">
                <div class="mt-auto p-2  ">
                  <h3 class="nameDr">Doctor Name</h3>
                  <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                  <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
              </div>
              <div class="d-flex mt-auto border-top p-2  pt-4">
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
            </div>
          </div>


        </div>
      </li>
      <li>
        <div class="uk-card uk-card-default">
          <div class="row">
            <div class="col-6">
              <div class="uk-card-media-top">
                <img src="../../../assets/img/team-2.jpg" class=" p-2" alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="uk-card-body p-3">
                <div class="mt-auto p-2  ">
                  <h3 class="nameDr">Doctor Name</h3>
                  <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                  <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
              </div>
              <div class="d-flex mt-auto border-top p-2  pt-4">
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
            </div>
          </div>


        </div>
      </li>   <li>
        <div class="uk-card uk-card-default">
          <div class="row">
            <div class="col-6">
              <div class="uk-card-media-top">
                <img src="../../../assets/img/team-3.jpg" class=" p-2" alt="">
              </div>
            </div>
            <div class="col-6">
              <div class="uk-card-body p-3">
                <div class="mt-auto p-2  ">
                  <h3 class="nameDr">Doctor Name</h3>
                  <h6 class="fw-normal fst-italic text-primary mb-4">Cardiology Specialist</h6>
                  <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor</p>
              </div>
              <div class="d-flex mt-auto border-top p-2  pt-4">
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
              </div>
            </div>
          </div>


        </div>
      </li>

    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slider-item="next"></a>

  </div>

  <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>

</div>
