<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
  <div class="container py-5">
    <div class="row justify-content-start">
      <div class="col-lg-8 text-center text-lg-start">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 pb-2 "
          style="font-weight: 400;font-size: 1.6rem; border-color: rgba(256, 256, 256, .3) !important;color: #13C5DD !important">
          Welcome To Medinova</h5>
        <h1 class="display-1 text-white mb-md-4" style="font-size: 5rem;line-height: 1.2;font-weight: 700;">Best
          Healthcare Solution In Your City</h1>
        <div class="pt-2">
          <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Find Doctor</a>
          <a href="" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Appointment</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End -->

<app-best-medical></app-best-medical>

<app-excellent></app-excellent>

<app-appointment></app-appointment>

<app-packages></app-packages>

<app-our-doctors></app-our-doctors>
<app-hero-end></app-hero-end>
<app-testimonial></app-testimonial>



<app-blog></app-blog>
