<div class="text-center mx-auto mb-5" style="max-width: 500px;">
  <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
    style="font-size:  1.5rem;line-height: 1;font-weight: 700;">Testimonial</h5>
  <h1 class="display-4" style="font-size:  3.5rem;line-height: 1;font-weight: 700;">Patients Say About Our Services</h1>
</div>

<div class="container">
  <div class="text-center mx-auto mb-5" style="max-width: 500px;">

  </div>
  <div id="carouselExampleAutoplaying" class="carousel slide w-50 mx-auto" data-bs-ride="carousel">
    <!-- <div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/testimonial-1.jpg" class="d-block w-25 mx-auto h-25 rounded-circle" alt="...">
        <p class="pt-2 " style="color:#212529">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore
          lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat. Erat dolor rebum sit
          ipsum.</p>
        <div class="mt-auto p-4 text-center">
          <h3 style="font-size: 2rem;">Doctor Name</h3>
          <h6 style="font-size: 1rem;" class="fw-normal fst-italic text-primary mb-4 ">Cardiology Specialist</h6>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/testimonial-2.jpg" class="d-block w-25 mx-auto h-25 rounded-circle" alt="...">
        <div class="mt-auto p-4 text-center">
          <h3 style="font-size: 2rem;">Doctor Name</h3>
          <h6 style="font-size: 1rem;" class="fw-normal fst-italic text-primary mb-4 ">Cardiology Specialist</h6>
          <p style="font-size: 1rem;" class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita
            rebum dolor</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/testimonial-3.jpg" class="d-block w-25 mx-auto h-25 rounded-circle" alt="...">
        <div class="mt-auto p-4 text-center">
          <h3 style="font-size: 2rem;">Doctor Name</h3>
          <h6 style="font-size: 1rem;" class="fw-normal fst-italic text-primary mb-4 ">Cardiology Specialist</h6>
          <p style="font-size: 1rem;" class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita
            rebum dolor</p>
        </div>
      </div>
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden" >Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button> -->
  </div>
</div>
